{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django Physics</title>

		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Django Physics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% static '..' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class = "freeSpace"></div>
  
      <!-- Page Heading -->
      <h1 class="my-4">
        <small>Dynamics</small>
      </h1>

      <div class = "freeSpace"></div>

      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% static '../force/' %}">F<sub>Force</sub> = m<sub>mass</sub>a<sub>acceleration</sub></a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% static '../power/' %}">P<sub>Pressure</sub> =  W<sub>Work </sub> / T<sub>Time</sub></a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% static '../escapev/' %}">v<sub>escape</sub> = &radic;( 2G M<sub>Mass</sub>/ R<sub>Radius</sub>)</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% static '../gravforce/' %}">F<sub>Force</sub> = G M<sub>Mass1</sub>m<sub>Mass2</sub>/ R<sup>2</sup><sub>Radius</sub></a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% static '../gravg/' %}">g<sub>Gravity</sub> = G M<sub>Mass</sub>/ R<sup>2</sup><sub>Radius</sub></a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% static '../gravg/' %}">GPE<sub>Gravitational Potential</sub> = m<sub>Mass</sub>g<sub>Gravity</sub>h<sub>Height</sub></a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        
        <!--
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      
      <!-- Pagination -->
      <!--
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
      -->
      </div>
  </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Django Physics 2018</p>
        </div>
          <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
  </body>

</html>
