{% load static from staticfiles %}

<!DOCTYPE html>
<html>  
	<head>
		<meta charset="utf-8">
		<title>Second Equation</title>

		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrapcss' %}">
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>

	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href="{% static '../kinematics' %}">Kinematics</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
					<a class="nav-link" href="{% static '..' %}">Home
						<span class="sr-only">(current)</span>
					</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
				</div>
			</div>
		</nav>
		
		<div class = "inputSection">
			
			<h4 class = "formulaDef">Second Law of Motion</h4>
			<h1 class = "formulaText">s = ut + &frac12 at<sup>2</sup></h1>
			<form method=post action="">{% csrf_token %}
				<table>
					{% for field in form %}
					<tr>
					<td>{{ field.name }}</td>
					<td>{{ field }}</td>
					<td>{{ field.errors }}</td>
					<td></td>
					</tr>
					{% endfor %}
				</table>
				<input type=submit value=Compute>
			</form>
	
			<p class = "answer">
				s (Displacement) :  
				{% if result != None %}
					{{ result }} m (meter)
				{% endif %}
			</p>
		</div>
	</body>
</html>
